 .navdiv{
        display: flex; align-items: center; justify-content: space-between;
    }
    .logo{
        font-size: 30px; font-weight: 600; color: blue;
    }
    li{
        list-style: none; display: inline-block;
    }